#= require_self
#= require_tree ./veel
#= require_tree ./templates
#= require_tree ./models
#= require_tree ./views
#= require_tree ./routers
#= require ./helpers

window.Veel =
  Models: {}
  Collections: {}
  Routers: {}
  Views: {}

  #api_base_url: '<%= APP_CONFIG["host"] %>'
  api_base_url: 'http://gpictures.jetthoughts.com'

  init : ->
    @setupCurrentUser()
    if @isVeel()
      new Veel.Routers.ThoughtsRouter()
      new Veel.Routers.UsersRouter()
    new Veel.Routers.PagesRouter()
    Backbone.history.start pushState: true
    @bindings()


  bindings : ->
    if @isVeel()
      $('.veel_logo_sm').live 'click', (e) =>
        e.preventDefault()
        Backbone.history.navigate('pics', true)

    $('.top_buttons a, .categories a').live 'click', (e) ->
      e.preventDefault()
      Backbone.history.navigate($(@).attr('href'), true)


    $('.masonry .box').live 'click', () ->
      uri =  Backbone.history.fragment.match(/.*pics/)[0] + "/#{$(this).data('thought-id')}"
      Backbone.history.navigate(uri, true)

    $('.pin a').live 'click', (e) ->
      window.open($(@).attr('href'), 'Pin it', 'width=600,height=300,scrollbars=yes');
      false

  isVeel : ->
    $('.masonry').length > 0

  ability : ->
    @ability_var ||= new Veel.Ability(@current_user)

  setupCurrentUser : ->
    @current_user = new Veel.Models.CurrentUser()
    #@current_user.fetch()

  showAuthorizationError : ->
    text = 'You are not authorized to this action'
    @showDangerAlert(text)

  showDangerAlert : (text) ->
    @showAlert(text, 'danger')

  showSuccessAlert : (text) ->
    @showAlert(text, 'success')

  showWarningAlert : (text) ->
    @showAlert(text, 'warning')

  showAlert : (text, type) ->
    notice = $('<div>').text(text).addClass("alert-message #{type} global-alert")
    $('.mainheader').append notice
    notice.delay(2000).fadeOut 'slow', ->
      notice.remove()

$ ->
  Veel.init()
  $(document).ajaxError (e, jqXHR, options) ->
    if jqXHR.status == 403
      Veel.showAuthorizationError()
