- if notice
  .alert-message.warning{ :'data-alert'=>''}
    %a.close{ href: '#' } x
    %p= notice

- if alert
  .alert-message.error{ :'data-alert'=>''}
    %a.close{ href: '#' } x
    %p= alert

- if flash[:success]
  .alert-message.success{ :'data-alert'=>''}
    %a.close{ href: '#' } x
    %p= flash[:success]
