%p
  = link_to 'Home', '/', class: 'link'
  = link_to 'About', 'http://www.jetthoughts.com/about'
  = link_to 'Contact', 'http://www.jetthoughts.com/contact'
  = link_to 'Terms', '/terms'
  = link_to 'Privacy', '/privacy'
  |
  Copyright &copy;2008-2012 JetThoughts, LLC. All rights reserved.
