<div class="container">
  <div id="content">
    <div class="row">
      <div class="span8 offset2">
        <h3>What do we use your information for?</h3>

        <p>Any of the information we collect from you may be used to process transactions</p>

        <p>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other
          company for any reason whatsoever, without your consent, other than for the express purpose of delivering the
          purchased product or service requested.</p>


        <h3>How do we protect your information?</h3>

        <p>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure
          Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be
          accessible by those authorized with special access rights to such systems, and are required to?keep the
          information confidential.</p>

        <p>After a transaction, your private information (credit cards, social security numbers, financials, etc.) will
          not be stored on our servers.</p>

        <h3>Do we use cookies?</h3>

        <p>We do not use cookies.</p>

        <h3>Do we disclose any information to outside parties?</h3>

        <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
          This does not include trusted third parties who assist us in operating our website, conducting our business,
          or servicing you, so long as those parties agree to keep this information confidential. We may also release
          your information when we believe release is appropriate to comply with the law, enforce our site policies, or
          protect ours or others rights, property, or safety. However, non-personally identifiable visitor information
          may be provided to other parties for marketing, advertising, or other uses.</p>

        <h3>California Online Privacy Protection Act Compliance</h3>

        <p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California
          Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties
          without your consent.</p>

        <h3>Childrens Online Privacy Protection Act Compliance</h3>

        <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not
          collect any information from anyone under 13 years of age. Our website, products and services are all directed
          to people who are at least 13 years old or older.</p>

        <h3>Online Privacy Policy Only</h3>

        <p>This online privacy policy applies only to information collected through our website and not to information
          collected offline.</p>

        <h3>Your Consent</h3>

        <p>By using our site, you consent to our web site privacy policy.</p>

        <h3>Changes to our Privacy Policy</h3>

        <p>If we decide to change our privacy policy, we will post those changes on this page.</p>

        <p>
          <small>This policy was last modified on 09/13/12</small>
        </p>
      </div>
    </div>
  </div>
</div>
