<div class="container">
  <div id="content">
    <div class="row">
      <div class="span8 offset2">
        <h3>1. Acceptance The Use Of Greeting Pictures Terms and Conditions</h3>

        <p>Your access to and use of Greeting Pictures is subject exclusively to these Terms and Conditions. You will
          not use the Website for any purpose that is unlawful or prohibited by these Terms and Conditions. By using the
          Website you are fully accepting the terms, conditions and disclaimers contained in this notice. If you do not
          accept these Terms and Conditions you must immediately stop using the Website.</p>

        <h3>2. Credit card details</h3>

        <p>Greeting Pictures will never ask for Credit Card details and request that you do not enter it on any of the
          forms on Greeting Pictures.</p>

        <h3>3. Advice</h3>

        <p>The contents of Greeting Pictures website do not constitute advice and should not be relied upon in making or
          refraining from making, any decision.</p>

        <h3>4. Change of Use</h3>

        <p>Greeting Pictures reserves the right to:</p>

        <p>4.1 change or remove (temporarily or permanently) the Website or any part of it without notice and you
          confirm that Greeting Pictures shall not be liable to you for any such change or removal and.</p>

        <p>4.2 change these Terms and Conditions at any time, and your continued use of the Website following any
          changes shall be deemed to be your acceptance of such change.</p>

        <h3>5. Links to Third Party Websites</h3>

        <p>Greeting Pictures Website may include links to third party websites that are controlled and maintained by
          others. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that
          we are not responsible for the content or availability of any such sites.</p>

        <h3>6. Copyright</h3>

        <p>6.1 All copyright, trade marks and all other intellectual property rights in the Website and its content
          (including without limitation the Website design, text, graphics and all software and source codes connected
          with the Website) are owned by or licensed to Greeting Pictures or otherwise used by Greeting Pictures as
          permitted by law.</p>

        <p>6.2 In accessing the Website you agree that you will access the content solely for your personal,
          non-commercial use. None of the content may be downloaded, copied, reproduced, transmitted, stored, sold or
          distributed without the prior written consent of the copyright holder. This excludes the downloading, copying
          and/or printing of pages of the Website for personal, non-commercial home use only.</p>

        <h3>7. Disclaimers and Limitation of Liability</h3>

        <p>7.1. The Website is provided on an AS IS and AS AVAILABLE basis without any representation or endorsement
          made
          and without warranty of any kind whether express or implied, including but not limited to the implied
          warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility,
          security and accuracy.</p>

        <p>7.2. To the extent permitted by law, Greeting Pictures will not be liable for any indirect or consequential
          loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising
          out of or in connection with the use of the Website.</p>

        <p>7.3. Greeting Pictures makes no warranty that the functionality of the Website will be uninterrupted or
          error
          free, that defects will be corrected or that the Website or the server that makes it available are free of
          viruses or anything else which may be harmful or destructive.</p>

        <p>7.4. Nothing in these Terms and Conditions shall be construed so as to exclude or limit the liability of
          Greeting Pictures for death or personal injury as a result of the negligence of Greeting Pictures or that of
          its employees or agents.</p>

        <h3>8. Indemnity</h3>

        <p>You agree to indemnify and hold Greeting Pictures and its employees and agents harmless from and against all
          liabilities, legal fees, damages, losses, costs and other expenses in relation to any claims or actions
          brought against Greeting Pictures arising out of any breach by you of these Terms and Conditions or other
          liabilities arising out of your use of this Website.</p>

        <h3>9. Severance</h3>

        <p>If any of these Terms and Conditions should be determined to be invalid, illegal or unenforceable for any
          reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining
          Terms and Conditions shall survive and remain in full force and effect and continue to be binding and
          enforceable.</p>

        <h3>10. Governing Law</h3>

        <p>These Terms and Conditions shall be governed by and construed in accordance with the law of USA and you
          hereby submit to the exclusive jurisdiction of the USA courts.</p>
      </div>
    </div>
  </div>
</div>
