= div_for(comment, data: { :comment_id => comment.id }) do
  .profile_photo_sm.col1
    = image_tag comment.user.photo.url, width: '50px', height: '50px'
  .comment_msg.col3
    %b= comment.user.given_name
    .comment_body= truncate(comment.body, length: 20, separator: ' ')
    .time= comment.created_at.to_s(:short_with_meriridan)
  .clear
.clear
