= simple_form_for(resource, wrapper: :bootstrap, html: { multipart: true }) do |f|
  = content_tag :fieldset do
    -if f.error_notification
      .alert-message.error.fade.in
        %a.close{"data-dismiss" => "alert"} &times;
        = f.error_notification

    .inputs
      - if action_name == 'edit'
        = f.input :created_at, as: :date
        = hidden_field_tag 'datepicker'
      = f.input :title
      = f.input :body, input_html: { rows: 10 }
      = image_tag resource.media.url, class: 'thought_media' if resource.media? and (resource.media.image? or resource.media.pdf?)
      = f.input :media, as: :file
      - if f.object.media.present? && !resource.new_record?
        = link_to 'delete file', resource_path(format: :json),
          remote: true,
          method: 'put',
          confirm: 'Are you sure?',
          class: 'delete_media'

      = f.input :media_cache, as: :hidden
      = f.input :url
