.thought_form
  .modal-header
    %h3 Add a thought
    = link_to 'x', '#', class: "close", 'data-dismiss' => "modal"
  .modal-body
    = render 'form'
  .modal-footer
    = button_tag "Post", class: 'btn primary post-thought'
