.col33
  = div_for(thought, data: { thought_id: thought.id } ) do
    - unless thought.url.blank?
      %h4= link_to thought.title, thought.url
    - else
      %h4= thought.title

    %b= thought.created_at.to_s(:short_with_meriridan)
    - if thought.media? && thought.media.thumb
      = image_tag thought.media.thumb.url
    %p= truncate(thought.body, length: 200, separator: ' ')
    = link_to "Comments", "#"
    .comments
      = render partial: 'comment', collection: thought.comments.limit(2)
      .count= link_to "All #{thought.comments_count} comments ...", "#" if thought.comments_count > 2
