<div class="container">
<div id="content">
  <div class="row top_buttons">
    <a href="/pics/latest" class="offset5 span1 btn btn-success btn-large disabled %>">New</a>
    <a href="/pics/popular" class="span1 btn btn-warning btn-large %>"> Top</a>
  </div>
<div class="masonry" id="container">
  <%= render 'shared/loader' %>
</div>
</div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
  <div class="modal-body clearfix">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <span class="pin"><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Ftweli.dev%3A3000%2Fassets%2F&media=http%3A%2F%2Ftweli.dev%3A3000%2Fassets%2FAgra-1.jpg" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It"/></a></span>
    <span class="time">30 Feb, 2012</span>

    <h3>WallpapersKu Happy Easter</h3>

    <div class="img_wrap clearfix">
      <img alt="Agra picture" src="/assets/Agra-1.jpg">
    </div>
    <div class="like">
      <span class="number">100500 people like it</span>
      <span class="cat"><a href="#">Some Category</a></span>
    </div>
  </div>
</div>