.thought_preview
  .modal-header
    %h3 Preview
  .modal-body
    %h4= @thought.url.blank? ? resource.title : link_to(@thought.title, @thought.url)
    %span= @thought.created_at
    = image_tag @thought.media.thumb.url if @thought.media? && @thought.media.thumb
    %p=@thought.body
  .modal-footer
    = simple_form_for resource, url: resource.new_record? ? new_resource_path : edit_resource_path, defaults: { as: :hidden }, html: { id: 'edit_thought', method: :get } do |f|
      = f.input :created_at if action_name == 'edit'
      = f.input :title
      = f.input :body
      = f.input :url
      = f.input :media_cache
      = f.button :submit, "Edit", class: 'edit-thought'
    = simple_form_for resource, url: resource.new_record? ? collection_path(format: :json) : resource_path(format: :json), defaults: { as: :hidden }, html: { id: 'save_thought', remote: true} do |f|
      = f.input :created_at if action_name == 'edit'
      = f.input :title
      = f.input :body
      = f.input :url
      = f.input :media_cache
      = f.button :submit, "Save and Post", class: 'save-thought'
