.thought_show
  .modal-header
    = link_to 'Edit thought', edit_resource_path
    = link_to 'Delete thought', resource_path(format: :json),
      method: :delete, confirm: 'Are you sure?',
      remote: true, id: 'delete_thought'
  .modal-body.row
    .span2
      .profile_photo_sm
        = image_tag resource.user.photo.url, width: 50, height: 50, border: 0
    .span6
      = div_for(resource, data: { thought_id: resource.id } ) do
        %h4=resource.title
        %b=resource.created_at
        - if resource.media?
          - if resource.media.image?
            = image_tag resource.media.url
          - elsif resource.media.pdf?
            = image_tag resource.media.thumb.url
            %br/
            = link_to "Download", resource.media.url, target: :blank
        %p=resource.body
        = simple_form_for :comment, url: user_thought_comments_path(current_user, resource),
          wrapper: :bootstrap,
          remote: true,
          html: { id: 'new_comment', class: 'comment_form form-inline'} do |f|
          = f.input :body, label: false
          = f.submit 'Comment'
        .comments
          = render resource.comments, locals: { thought: resource }
