

footer {
  font-family: 'TeXGyreCursorRegular', Arial, sans-serif;
  border-top: 1px solid #ddd;
  margin-top: 35px;
  padding-top: 6px;
  text-align: center;
  font-size: 12px;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}