#floatingCirclesG {
    margin: 0 auto;
    top: 97%;
    position: relative;
    width: 128px;
    height: 128px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: #FFFFFF;
    height: 23px;
    width: 23px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-animation-name: f_fadeG;
    -webkit-animation-duration: 0.48s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -moz-animation-name: f_fadeG;
    -moz-animation-duration: 0.48s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -o-animation-name: f_fadeG;
    -o-animation-duration: 0.48s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -ms-animation-name: f_fadeG;
    -ms-animation-duration: 0.48s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
}

#frotateG_01 {
    left: 0;
    top: 52px;
    -webkit-animation-delay: 0.18s;
    -moz-animation-delay: 0.18s;
    -o-animation-delay: 0.18s;
    -ms-animation-delay: 0.18s
}

#frotateG_02 {
    left: 15px;
    top: 15px;
    -webkit-animation-delay: 0.24s;
    -moz-animation-delay: 0.24s;
    -o-animation-delay: 0.24s;
    -ms-animation-delay: 0.24s
}

#frotateG_03 {
    left: 52px;
    top: 0;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
}

#frotateG_04 {
    right: 15px;
    top: 15px;
    -webkit-animation-delay: 0.36s;
    -moz-animation-delay: 0.36s;
    -o-animation-delay: 0.36s;
    -ms-animation-delay: 0.36s;
}

#frotateG_05 {
    right: 0;
    top: 52px;
    -webkit-animation-delay: 0.42000000000000004s;
    -moz-animation-delay: 0.42000000000000004s;
    -o-animation-delay: 0.42000000000000004s;
    -ms-animation-delay: 0.42000000000000004s;
}

#frotateG_06 {
    right: 15px;
    bottom: 15px;
    -webkit-animation-delay: 0.48s;
    -moz-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
}

#frotateG_07 {
    left: 52px;
    bottom: 0;
    -webkit-animation-delay: 0.5399999999999999s;
    -moz-animation-delay: 0.5399999999999999s
}

#frotateG_08 {
    left: 15px;
    bottom: 15px;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.5399999999999999s;
    -ms-animation-delay: 0.5399999999999999s;
}

#frotateG_08 {
    left: 15px;
    bottom: 15px;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}