// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  #content{
    margin-top: 50px;
    margin-bottom: 60px;
    .top_buttons{
      margin-bottom: 30px;
      margin-top: 70px;
    }
    .masonry{
      .box {
        width: 150px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 12px;
        border: 1px solid #79141C;
        border-radius: 10px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;
        &:hover{
          border: 1px solid #DEBB27;
        }
        .wrap{
          padding: 10px;
          h3{
            line-height: 1.2;
            margin-top: 0;
            text-align: center;
            float: left;
            text-transform: CAPITALIZE;
            width: 100%;
            //text-overflow: ellipsis;
            overflow: hidden;
          }
          .time{
            text-align: right;
            font-size: 12px;
            float: right;
          }
          .pin{
            float: left;
          }
          .like{
            margin-top: 10px;
            span{
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.modal{
  .img_wrap{
    text-align: center;
  }
  img{
    width: auto;
    height: auto;
    max-width: 540px;
    max-height: 300px;
    display: inline-block;
  }
  .time{
    float: right;
  }
  h3{
    margin-top: 0px;
    text-align: center;
    line-height: 1;
  }
  .like{
    .number{
      float: left;
    }
    .cat{
      float: right;
      a{
        color: #79141C;
      }
    }
  }
}

#main-menu{
  .appstore{
    float: left;
    background: url(/assets/appstore.png) no-repeat;
    width: 112px;
    height: 40px;
    padding: 0;
    margin-top: 5px;
    text-indent: -9999px;
  }
}

footer{
  background-color: #79141C;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  ul{
    padding: 5px 0;
    li{
      display: inline;
      float: left;
      margin-right: 10px;
      &:last-child{
        float: right;
        margin-right: 0;
      }
    }
  }
}

.google-ad-block {
  position: relative;
  display:none;
  border-color: transparent !important;
  background-color: transparent !important;

  .wrap {
    padding: 0 !important;
  }

}