<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>Greeting Pictures</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="/favicon.png" rel="icon" type="image/x-icon"/>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="/" class="brand">Greeting Pictures</a>

        <div id="main-menu" class="nav-collapse">
          <ul id="main-menu-left" class="nav">
            <li><a href="http://itunes.apple.com/us/app/greeting-pictures/id542184989?ls=1&mt=8" class="appstore">Available in the Appstore</a></li>
          </ul>
          <ul id="main-menu-right" class="nav pull-right">
            <li class="dropdown">
              <a id="current_category" href="#" data-toggle="dropdown" class="dropdown-toggle">All categories<b class="caret"></b></a>
              <ul id="swatch-menu" class="dropdown-menu">
                <li><a href="/pics">All categories</a></li>
                <li class="divider"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <%= yield %>

  <footer class="clearfix">

    <div class="container">

      <ul class="unstyled clearfix">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="http://www.jetthoughts.com/about">About</a>
        </li>
        <li>
          <a href="http://www.jetthoughts.com/contact">Contact</a>
        </li>
        <li>
          <a href="/terms">Terms</a>
        </li>
        <li>
          <a href="/privacy">Privacy</a>
        </li>
        <li>
          Copyright ©2008-2012 JetThoughts, LLC. All rights reserved.
        </li>
      </ul>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
  <%= render "/shared/ga" %>
</body>
</html>